.uploadFolder {
  width: 25px;
  vertical-align: bottom;
  margin-left:6px;
}

.hide {
  display: none !important;
}

.js-browseLink {
  float: right;
  // color: #96d4d3;
  text-decoration: none;
}

.js-browseLink:visited {
  // color: #96d4d3;
}
