/* Variables */
$navBlue: #96d4d3;

.uploadFolder {
  width: 25px;
  vertical-align: bottom;
  margin-left: 6px;
}

.hide {
  display: none !important;
}

.js-browseLink {
  float: right;
  // color: #96d4d3;
  text-decoration: none;
}

.js-browseLink:visited {
  // color: #96d4d3;
}

.modalTip {
  width: 280px;
  margin-bottom: 20px;
}

.myButtons {
  width: 125px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #96d4d3;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  border: none;
  margin: 0px 6px;
}

.myButtons:hover {
  cursor: pointer;
  color: #f7f7f7;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.myButtons:active {
  color: #888888;
}

.map-printer .myButtons {
  float: left;
}

.map-printer-comments{
  float: left;
  width: 242px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px;
  margin: 6px;
  }

.deleteWarning {
  background-color: #ffd6b4;
  width: 250px;
  float: right;
  border-radius: 4px;
  color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  border: none;
  margin: 0px 6px;
}

.deleteText {
  margin: 10px 6px;
}

.radioButton {
  float: left;
}

.radioButtonLabel {
  float: left;
  margin-right: 10px;
}

.map-printer {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 300px;
}

#createMapStyleTable td {
  padding: 6px;
}

#createMapStyleButton {
  position: absolute;
  top: 20px;
  left: 20px;
}
.modalHeader {
  color: $navBlue;
  text-align: center;
}

.createMapStyleTable {
  width: 100%;
}

#closeButton {
  float: left;
}

#nextButton {
  float: right;
}

#saveButton {
  float: right;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: #cccccc;
}

/* ********** Login Buttons ********** */
.googleButton {
  display: block;
  background: white;
  color: #444;
  height: 36px;
  width: 120px;
  border: thin solid #ccc;
  white-space: nowrap;
  padding: 0px;
  box-shadow: 0px 0px 3px rgba(204, 204, 204, 0.5);
  transition: box-shadow 0.1s ease-in-out;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.googleButton:hover {
  box-shadow: 0px 0px 5px rgba(0, 191, 255, 0.75);
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}
.googleIcon {
  background: url("/images/googleIcon.png") transparent 5px 50% no-repeat;
  display: inline-block;
  // vertical-align: middle;
  width: 32px;
  height: 32px;
  float: left;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  padding-top: 8px;
  /* padding-right: 42px; */
  font-size: 14px;
  /* font-weight: bold; */
  font-family: "Roboto", sans-serif;
}
